# ===== SERVICE CONFIGURATION =====
SERVICE_NAME=example-service
SERVICE_VERSION=0.1.0
ENVIRONMENT=development

# ===== HTTP SERVER =====
HTTP_PORT=8080

# ===== POSTGRES DATABASE =====
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=onlyiziAuth
POSTGRES_PASSWORD=onlyiziAuth
POSTGRES_DB=onlyiziAuth


# ===== REDIS =====
REDIS_HOST=localhost
REDIS_PORT=6379


# ===== OPTIONAL CONFIG =====
# Hostname da máquina (normalmente automático em containers)
# HOSTNAME=